:root {

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34feaa 50%, #47cbffaa 50%);
  --c-image: linear-gradient(-45deg, #8a47ff 0%, #a775ff 50%);
  --vp-home-hero-image-filter: blur(70px);
}
